<h1>SIGN UP</h1>
<form action="/question/signup_process">
    E-mail : 
    <input type="text" name="email"><br/>
    Name : 
    <input type="text" name="name"><br/>
    Password : 
    <input type="text" name="password"><br/>
    <button type="submit">Sign Up</button>
</form>